#web_bg {
	background-image: url("../img/pic2/pic1.jpeg"),linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35))
}

/* 侧边栏个人信息卡片动态渐变色 */
/*
#aside-content>.card-widget {
	background-image: url("../img/3.jpeg");
	box-shadow: 0 0 5px rgb(66, 68, 68);
	position: relative;
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite !important;
}*/

:root {
  --trans-light: rgba(255, 255, 255, 0.65);
  --trans-dark: rgba(25, 25, 25, 0.88);
  --border-style: 1px solid rgb(169, 169, 169);
  --backdrop-filter: blur(5px) saturate(150%);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 25px;
  border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 18px;
  border: var(--border-style);
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 20px;
}

/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: #191919ee;
}

#aside-content>.sticky_layout>.card-widget {
	background: rgba(255, 255, 255, .8);
}

/*文章页面*/
.layout>#post {
	background: rgba(255, 255, 255, .9);
}

/*分类页面*/
.layout>#page {

	background: rgba(255, 255, 255, .6);
}

/*时间轴页面*/
.layout>#archive {
	background: rgba(255, 255, 255, .6);
}



/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}
/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}




/* 一级菜单居中 */
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
/* 子菜单横向展示 */
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
}
/* 这里的2是代表导航栏的第2个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(3) .menus_item_child {
  left: -125px;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}

/* 全局宽度 */
.layout {
  max-width: 1600px;
}

/* 侧边卡片栏宽度 */
.aside-content {
  max-width: 318px;
  min-width: 200px;
}

/* 平板尺寸自适应(不启用侧边栏宽度限制) */
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
    padding: 0 5px 0 5px;
  }
}

@font-face {
  /* 为载入的字体取名字(随意) */
  font-family: 'YSHST';	
  /* 字体文件地址(相对或者绝对路径都可以) */
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/优设好身体.woff2);
  /* 定义加粗样式(加粗多少) */
  font-weight: normal;
  /* 定义字体样式(斜体/非斜体) */
  font-style: normal;
  /* 定义显示样式 */
  font-display: block;
}

@font-face {
  font-family: MiSans;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/MiSans.woff2);
  font-display: swap;
}
@font-face {
  font-family: LXGW;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/霞鹜文楷.woff2);
  font-display: swap;
}
@font-face {
  font-family: Consolas;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/Consolas.woff2);
  font-display: swap;
}
@font-face {
  font-family: ZhuZiAWan;
  src: url(https://data-static.netdun.net/Fomalhaut/fonts/ZhuZiAWan2.woff2);
  font-display: swap;
}

/* 特定部件字体调用 */
div#menus {
  font-weight: bold !important;
}
h1#site-title {
  font-size: 3em !important;
  font-weight: bold !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-weight: bold !important;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongbiao::before {
  color: #f7c768;
}


/* 导航栏颜色 */
#page-header.nav-fixed #nav {
  background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);
  opacity: 0.95;
  backdrop-filter: var(--backdrop-filter);
}
[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.95) !important;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}
[data-theme="dark"] #article-container figure.highlight {
  border: 0.5px solid #404040;
}
/* 自适应内容 */
@media screen and (min-width: 1024px) {
  /* 设置宽度上限，避免挤压博主头像 */
  .tk-content {
    max-width: 75%;
    width: fit-content;
  }
  .tk-master .tk-content {
    width: 75%;
  }
  .tk-master .tk-content::before {
    left: 100%;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
  }
  .tk-master .tk-avatar {
    position: relative;
    left: calc(75% + 70px);
  }
  .tk-master .tk-row[data-v-d82ce9a0] {
    position: relative;
    top: 0px;
    left: calc(75% - 230px);
  }
  [data-theme="dark"] .tk-master .tk-content::before {
    border-left: 15px solid #000;
    border-right: 0px solid transparent;
  }
}

/* 标题增强 */
#site-name::before {
  opacity: 0;
  background-color: var(--theme-color) !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  width: 100%;
  height: 100%;
  content: "\f015";
  box-shadow: 0 0 5px var(--theme-color) !important;
  font-family: "Font Awesome 6 Free";
  text-align: center;
  color: white;
  line-height: 34px; /*如果有溢出或者垂直不居中的现象微调一下这个参数*/
  font-size: 18px; /*根据个人喜好*/
}
#site-name:hover::before {
  opacity: 1;
  scale: 1.03;
}
#site-name {
  position: relative;
  font-size: 24px; /*一定要把字体调大点，否则效果惨不忍睹！*/
}

/* 标签圆角 */
.hl-label {
  border-radius: 8px;
}
/* 透明度和模糊半径滑块 */
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  margin: 0 auto;
  outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--theme-color) !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 100;
}
.range {
  position: relative;
  width: 300px;
  margin: 20px 0px 32px 10px;
}
.rang_width {
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--theme-color) !important;
  height: 5px;
  border-radius: 2px 0 0 2px;
}

/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/* 翻页按钮上边距 */
#pagination .pagination {
  margin-top: 10px;
}

/* 搜索框样式 */
#algolia-search .search-dialog .ais-SearchBox .ais-SearchBox-form input {
  border: 2px solid var(--theme-color) !important;
  border-right: 0px !important;
}

#algolia-search .search-dialog .ais-Hits-list a:hover {
  color: var(--theme-color) !important;
}

#algolia-search .search-dialog .ais-Hits-list li:before {
  border: 0.215em solid var(--theme-color) !important;
}
/* 下一篇文章的圆角 */
.relatedPosts > .relatedPosts-list > div,
#pagination.pagination-post,
.postImgHover img,
#pagination .prev-post img,
#pagination .next-post img,
.relatedPosts > .relatedPosts-list > div img {
  border-radius: 12px;
}

